*,
*::after,
*::before {
  border: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.container {
  width: 84%;
  background-color: #f6f6ef;
  margin-top: 1rem;
  margin-bottom: 1rem; }

.img-logo {
  height: 2rem;
  width: 2rem;
  border: 1px solid white;
  margin-left: 3px;
  margin-right: 3px; }

.header {
  background-color: #f60;
  display: flex;
  height: 2.5rem;
  flex-direction: row;
  align-items: center; }
  .header__text {
    font-size: 1.35rem;
    font-weight: 700; }
  .header__list {
    flex: 1;
    list-style: none;
    font-size: 1.15rem;
    margin-left: -2rem; }
    .header__list-item {
      display: inline;
      padding: .25rem; }
      .header__list-item:not(:last-child) {
        border-right: 1px solid black;
        margin-right: 5px; }
      .header__list-item-link {
        text-decoration: none;
        text-transform: lowercase;
        color: #000; }

.login__button {
  margin-right: 5px;
  color: #000;
  text-decoration: none;
  text-transform: lowercase;
  font-size: 1.15rem; }

.footer {
  border-top: 2px solid orangered;
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem; }
  .footer__list {
    list-style: none;
    font-size: 1.15rem; }
    .footer__list-item {
      display: inline;
      padding: .25rem; }
      .footer__list-item:not(:last-child) {
        border-right: 1px solid black;
        margin-right: 5px; }
      .footer__list-item-link {
        text-decoration: none;
        color: #000; }
  .footer-search {
    margin-top: 1.5rem; }
    .footer-search__label {
      color: #9a9a9a;
      font-size: 1.3rem; }
    .footer-search__input {
      border: 1px solid #a9a9a9;
      width: 13rem; }
