$color-primary: #f60;
$color-black: #000;
$color-secondary-smoke: #f6f6ef;
$color-secondary-grey: #9a9a9a;
$color-secondary-grey-2: #a9a9a9;

// mixins
@mixin respond($breakpoint) {
    @if $breakpoint == medium-tablet {
        @media (max-width: 568px) {
            @content
        };
    }

    @if $breakpoint == tablet {
        @media (max-width: 750px) {
            @content
        };
    }
}

// base reset
*,
*::after,
*::before {
    border: 0;
    margin: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 1rem => 10px
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 84%;
    background-color: $color-secondary-smoke;
    margin-top: 1rem;
    margin-bottom: 1rem;

    @include respond(tablet) {
        width: 100%;
        margin-top: 0;
    }
}

.img-logo {
    height: 2rem;
    width: 2rem;
    border: 1px solid white;
    margin-left: 3px;
    margin-right: 3px;
}

.header {
    background-color: $color-primary;
    display: flex;
    height: 2.5rem;
    margin-bottom: 1rem;

    @include respond(tablet) {
        height: 4.5rem;
    }

    flex-direction: row;
    align-items: center;

    &__content {
        display: flex;
        align-items: center;
        flex-direction: row;
        width: 100%;

        @include respond(tablet) {
            flex-direction: column;
            align-items: flex-start;
            margin-left: .5rem;
        }
    }

    &__text {
        font-size: 1.35rem;
        font-weight: 700;
    }

    &__list {
        flex: 1;
        list-style: none;
        font-size: 1.15rem;
        margin-left: -2rem;

        @include respond(tablet) {
            margin-left: 0; 
            padding-left: 0;
        }

        &-item {
            display: inline;
            padding-right: .25rem;
            padding-left: .25rem;

            &:not(:last-child) {
                border-right: 1px solid black;
                margin-right: 5px;
            }

            &-link {
                text-decoration: none;
                text-transform: lowercase;
                color: $color-black;
            }
        }
    }
}

.login__button {
    margin-right: 5px;
    color: $color-black;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.15rem;
}

.hn__news-item {
    display: flex;
    font-size: 1.25rem;
    padding-bottom: .75rem;
    margin-left: 1rem;

    &-index, &-uparrow {
        margin-right: 5px;
        color: $color-secondary-grey;
    }

    &-source, &-sub {
        color: $color-secondary-grey;
        font-size: 1.1rem;
    }

    &-sub--link:hover, &-source:hover {
        cursor: pointer;
        text-decoration: underline;
    }
}

.footer {
    border-top: 2px solid orangered;
    font-size: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 1.5rem;

    &__list {
        list-style: none;
        font-size: 1.05rem;
        padding: 0;
        text-align: center;

        &-item {
            display: inline;
            padding-right: .25rem;
            padding-left: .25rem;

            &:not(:last-child) {
                border-right: 1px solid black;
                margin-right: 5px;
            }

            &-link {
                text-decoration: none;
                color: $color-black;
            }
        }
    }

    &-items {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 100%;
    }

    &-search {
        margin-top: 1.5rem;
        display: flex;
        width: 100%;
        
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @include respond(medium-tablet) {
            flex-direction: column;
            align-items: center !important;
        }

        @include respond(tablet) {
            align-items: flex-start;
        }

        &__label {
            color: $color-secondary-grey;
            font-size: 1.3rem;
            margin-right: 5px;
        }

        &__input {
            border: 1px solid $color-secondary-grey-2;
            width: 13rem;

            @include respond(medium-tablet) {
                width: 100%;
            }

            @include respond(tablet) {
                flex: 1;
            }
        }
    }
}